.nav {
  position: fixed;
  width: 90%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16px);
  border-radius: 50px;

  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);

  z-index: 1000;
}

/* Links hover glow */
.links a {
  position: relative;
  padding: 5px 10px;
  transition: 0.3s;
}

.links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--primary);
  transition: 0.3s;
}

.links a:hover::after {
  width: 100%;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.links {
  display: flex;
  gap: 25px;
}

.cta {
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
}

.bookBtn {
  background: linear-gradient(135deg, #c8a97e, #a88b65);
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  transition: all 0.3s ease;
}

.bookBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(200,169,126,0.3);
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .content h1 {
    font-size: 32px;
  }
}